<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="java.android.quanlybanhang">

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyBanHang">

        <activity
            android:name=".function.Account.ChiNhanhSignInActivity"
            android:exported="true" />
        <activity
            android:name=".function.MainActivity"
            android:exported="true" />

        <!-- Sign in, SignUp -->
        <activity
            android:name=".function.Account.StoreSetting"
            android:exported="true" />

        <activity
            android:name=".function.Account.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".function.Account.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".function.Account.ForgotPasswordActivity"
            android:exported="true" />

        <!-- Báo cáo -->
        <activity
            android:name=".function.BaoCao.BaoCaoSanPhamActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".function.BaoCao.BaoCaoTongQuanActivity"
            android:exported="true"
            android:label="Tổng quan"
            android:screenOrientation="portrait"
            android:theme="@style/thameActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.BaoCao.ChiTietNhapKhoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".function.BaoCao.BaoCaoKhoActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>