<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="java.android.quanlybanhang">

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

<!--    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyBanHang">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".ChiTietSanPham.Card_San_Pham"
            android:exported="true">


        </activity>
        <activity android:name=".function.ListProduct" />
        <activity android:name=".function.ListCategory" />
        <activity android:name=".function.AddProduct" />
        <activity android:name=".function.AddCategory" />
        <activity
            android:name=".ChiTietSanPham.ChiTietSanPham_Banh"
            android:exported="true"
            android:parentActivityName=".function.MonOrder" />
        <activity
            android:name=".ChiTietSanPham.ChiTietSanPham"
            android:exported="true"
            android:parentActivityName=".function.MonOrder" />
        <activity
            android:name=".function.MonOrder"
            android:exported="true"
            android:parentActivityName=".function.OrderMenu" />
        <activity android:name=".function.AccountInformationActivity" />

        <activity android:name=".function.Manager" />

        <activity android:name=".function.Income" />
        <activity android:name=".function.Processing" />
        <activity
            android:name=".function.OrderMenu"
            android:parentActivityName=".function.MainActivity" />
        <activity android:name=".function.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".function.BaoCao.BaoCaoTongQuanActivity"
            android:exported="true"
            android:label="Tổng quan"
            android:screenOrientation="portrait"
            android:theme="@style/thameActionbar">
        </activity>
        <activity android:name=".function.BaoCao.ChiTietNhapKhoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".function.BaoCao.BaoCaoKhoActivity" android:screenOrientation="portrait" >

        </activity>
    </application>

</manifest>